* {
    margin : 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px; 
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
body {
    background-color: rgba(255, 192, 203, 0.555);
}
.nav-logo {
    height: 50px;
    width: 114px;
    display: flex;
    position: static;
    float: none;
    text-decoration: none;
    padding: 1px 400px 0px px;
    margin-left: 0px;
    margin-right: 0px;

}
.logo {
    margin-top: 5px;
    margin-left: 5px;
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 114px;
    background-size:contain;
    background-repeat: no-repeat;
    
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
    border-radius: 3px;
}

/** box 2 */
.nav-add {
    width: 65.64px;
    height: 50px;
    padding-bottom: 28px;
    
    
}
.deliver-to {
    color: #cccccc;
    font-size: 12px;
    padding-right: 0px;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    padding-left: 16.5px;
    width: 55.64px;
    height:14px;

}
.india {
    width:42.64px;
    height: 16px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    padding-left: 16.5px;    
}

.locationlogo {
    display: flex;
    width: 56px;
    height: 18px;
    padding-top: 6px;
    padding-right:50px;
}
.fa-solid {
    padding-top: 29px;
    
}


/* Search box */

.nav-search {
    display: flex;
    justify-content:space-evenly ;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin-left: 5px;
}
.search-select {
    background-color:#e6e6e6 ;
    color: #0f1111;
    border-radius:4px ;
    width:54px ;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-family: inherit;
}
.search-input {
width: 565px;
    padding: 7px 10px 10px 0;
    font-family: inherit;
    font-size: 15px;
    border: none; 
    font-weight: 10000;
} 
.search-icon {
    width: 50px;
    display:flex;
    justify-content:center ;
    align-items: center;
    font-size: 1.2rem;
    padding-bottom: 30px;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
input::placeholder {
       font-weight: 700%;
}
.language {
    width: 65px;
    border: none;
    padding-left: 25px;
    color: #ffffff;
    background-color: #0f1111;
    font-weight: 700;
    margin: 0px;
}
/* .lang {
  display: flex;
  align-items: center;
  gap: 5px;
} */

.flag-icon {
  font-size: 1.5rem;
  line-height: 1;
}

.nav-search:hover {
    border: 2px solid orange;
}
/* Box 4 */
span {
    font-size: 12px;
    
}
.nav-second {
    font-size: 14px;
    font-weight: 700;
}

/* Box 6 */
.nav-cart i {
    font-size: 30px;
    padding-bottom: 24px;
}
.nav-cart {
    font-size: 14px;
    font-weight: 700;
}

/* Panel */
.panel {
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.panel-options p{
    display: inline;
    margin-right: 12px;
    justify-content: start;

}
.panel-all i {
    display: inline;
}
.panel-options {
    width: 70%;
    font-size: 14px;
    padding-right: 250px;
}
.panel-all {
    font-weight: bold;
}
/* Hero section */
.hero-section {
    background-image: url(619geyiQI5L._SX3000_.jpg);
    height: 600px;
    /* width: 1500px; */
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex; */
    position: relative;
    background-color: red;
}
.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; 
    width: 97%;  
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
.hero-msg a {
    color: #2162A1
}
/* Shop Section */
.shop-section {
    display: flex;
    width: 115.2%;
    justify-content:center ;
    position: relative;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 310px;
    
}
.box {
    flex: 0 0 20%;
    /* border: 2px solid black; */
    height: 430px;
    box-sizing: border-box;
    background-color: white;
    
}
.box4 {
    margin-right: 190.8px;
}
.box8 {
    margin-right: 190.8px;
}
.box-img {
    margin-top: 12px;
    height: 270px;
    padding: 20px 0px 15px;
    margin-bottom: 22px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;

}
.box-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 23px;
}
.heading {
    font-size: 21px;
    font-weight: 780;
    color: #0f1111;
}
.morelink {
     font-size: 13px;
     color: #2162A1;
     font-weight: 520;
}
.mini-img {
    width: 47.61%;
    height: 110px;
    justify-content: space-evenly;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
}
.mini-content {
    display: flex;
    margin-left: 20px;
    margin-right:20px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 12px;
}
.descrp {
    font-size: 12px;
    padding-top: 112px;
}
.gap {
    margin-top: 40px;
    margin-bottom: 30px;
}
.mini-content {
    margin-top: 23px;
}
.four {
    padding-top: 20px;
}
.one {
    height: 150px; 
    width: 92%;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 12px;
}
.one3 {
    margin-left:20px;
}
.one3title {
    font-size: 15px;
    padding-top: 155px;
}
.one3 {
    margin-top: 22px;
}
.three {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img3 {
    height: 75px;
    width: 32.3%;
    gap: 13px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.descr3 {
    margin-top: 75px;
}

.panel1 {
    margin-top: 600px;
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.panel1:hover {
    background-color: #37475ad7 ;
}
.panel2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    

}
ul {
    margin-top: 50px ;
}

ul p{
    font-size: 16px;
    font-weight: 700;
}
ul a{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #dddddd;
}
.panel3 {
    background-color:#0f1111 ;
    border-top: 0.3px solid white;
    height: 70px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
}
.logo1 {
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 40px;
    width: 100px;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pages {
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}
.copyright {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
